In [2]:
import olefile
import pandas as pd

In [3]:
f = olefile.OleFileIO('../file/report_template.hwp')
#PrvText 스트림 내의 내용을 읽기
encoded_text = f.openstream('PrvText').read() 
#인코딩된 텍스트를 UTF-16으로 디코딩
decoded_text = encoded_text.decode('UTF-16')

In [4]:
decoded_text

'\r\n\r\n[ U3 ]\r\n[ U4 ] 용역 최종보고서\r\n\r\n<[ U18 ]>\r\n<[ U17 ]>\r\n\r\n\r\n<><제 출 문><>\r\n\r\n[ U12 ] 귀하\r\n\r\n   본 보고서를 귀 기관과 우리 사가 계약한 “[ U3 ] [ U4 ] ”에 대한 최종보고서로 제출합니다.\r\n\r\n[ U8 ]년 [ U9 ]월\r\n\r\n<><용역기관명 :>< [ U17 ]   (인)>\r\n<><><>\r\n<><><>\r\n<><><>\r\n<><과업책임자 :><[ U19 ]>\r\n<><참여기술자 :><[ U20 ]><>\r\n<><><[ V20 ]><>\r\n\r\n본 보고서는 [ U12 ]의 의뢰로 \r\n[ U17 ]이 수행한 기술용역의 성과품입니다. \r\n\r\n\r\n\r\n<><목 차><>\r\n\r\n[ U3 ] [ U4 ]\r\n<1. 건축물 개요   2. 건축물 현황 및 설문조사   3. 개선방향 설정  4. 에너지성능 분석     5. 개략공사비 산출   6. 종합 결론 및 가이드라인   ><1.1 건축물 기본정보 및 에너지 소비현황 02 1.2 건축물 이력사항 및 사진 03  2.1 건축물 현황조사  06 2.2 건축물 이용자 요구사항 분석 09  3.1 조사결과 분석 및 개선안 구축 12  4.1 에너지성능 분석 개요 16 4.2 개선전 에너지성능 분석 17 4.3 개선후 에너지성능 분석 18 4.4 그린리모델링 아이템별 절감량 21  5.1 개선안별 개략공사비 종합 24 5.2 개선안별 사업비 상세 25  6.1 종합결론 30 6.2 후속사업(설계) 가이드라인 31>\r\n\r\n<>\r\n<><건축물 개요><>\r\n\r\n건축물 기본정보 및 에너지 소비현황\r\n\r\n< 건축물 기본정보>\r\n[ U37 ]은 [ U46 ]년 준공 이후 [ U47 ]년 경과된 [ U48 ]로, [ U72 ]년 [ U73 ]과 [ V72 ]년 [ V73 ]을 수행하였음\r\n[ U86 ]\r\n[ U87 ]\r\n[ U88 ]\r\n<구분><내용>\r\n<위치><[ N39 ] [ U40 ] [ U41 ] [ U42 ]>\r\n<지역지구><[ U45 ]>\r\n<준공시기><[ U46 ]년 ([ U47 ]년 경과)>\r\n<용도><[ >'

In [5]:
items = decoded_text.replace('\r', '')

In [6]:
items

'\n\n[ U3 ]\n[ U4 ] 용역 최종보고서\n\n<[ U18 ]>\n<[ U17 ]>\n\n\n<><제 출 문><>\n\n[ U12 ] 귀하\n\n   본 보고서를 귀 기관과 우리 사가 계약한 “[ U3 ] [ U4 ] ”에 대한 최종보고서로 제출합니다.\n\n[ U8 ]년 [ U9 ]월\n\n<><용역기관명 :>< [ U17 ]   (인)>\n<><><>\n<><><>\n<><><>\n<><과업책임자 :><[ U19 ]>\n<><참여기술자 :><[ U20 ]><>\n<><><[ V20 ]><>\n\n본 보고서는 [ U12 ]의 의뢰로 \n[ U17 ]이 수행한 기술용역의 성과품입니다. \n\n\n\n<><목 차><>\n\n[ U3 ] [ U4 ]\n<1. 건축물 개요   2. 건축물 현황 및 설문조사   3. 개선방향 설정  4. 에너지성능 분석     5. 개략공사비 산출   6. 종합 결론 및 가이드라인   ><1.1 건축물 기본정보 및 에너지 소비현황 02 1.2 건축물 이력사항 및 사진 03  2.1 건축물 현황조사  06 2.2 건축물 이용자 요구사항 분석 09  3.1 조사결과 분석 및 개선안 구축 12  4.1 에너지성능 분석 개요 16 4.2 개선전 에너지성능 분석 17 4.3 개선후 에너지성능 분석 18 4.4 그린리모델링 아이템별 절감량 21  5.1 개선안별 개략공사비 종합 24 5.2 개선안별 사업비 상세 25  6.1 종합결론 30 6.2 후속사업(설계) 가이드라인 31>\n\n<>\n<><건축물 개요><>\n\n건축물 기본정보 및 에너지 소비현황\n\n< 건축물 기본정보>\n[ U37 ]은 [ U46 ]년 준공 이후 [ U47 ]년 경과된 [ U48 ]로, [ U72 ]년 [ U73 ]과 [ V72 ]년 [ V73 ]을 수행하였음\n[ U86 ]\n[ U87 ]\n[ U88 ]\n<구분><내용>\n<위치><[ N39 ] [ U40 ] [ U41 ] [ U42 ]>\n<지역지구><[ U45 ]>\n<준공시기><[ U46 ]년 ([ U47 ]년 경과)>\n<용도><[ >'

In [13]:
list_items = items.split('[ ')

In [14]:
df_items = pd.DataFrame(list_items)

In [15]:
df_items

                                                    0
0                                                \n\n
1                                              U3 ]\n
2                                  U4 ] 용역 최종보고서\n\n<
3                                           U18 ]>\n<
4                         U17 ]>\n\n\n<><제 출 문><>\n\n
5             U12 ] 귀하\n\n   본 보고서를 귀 기관과 우리 사가 계약한 “
6                                               U3 ]
7                        U4 ] ”에 대한 최종보고서로 제출합니다.\n\n
8                                              U8 ]년
9                              U9 ]월\n\n<><용역기관명 :><
10  U17 ]   (인)>\n<><><>\n<><><>\n<><><>\n<><과업책임자...
11                               U19 ]>\n<><참여기술자 :><
12                                    U20 ]><>\n<><><
13                                V20 ]><>\n\n본 보고서는
14                                      U12 ]의 의뢰로 \n
15     U17 ]이 수행한 기술용역의 성과품입니다. \n\n\n\n<><목 차><>\n\n
16                                              U3 ]
17  U4 ]\n<1. 건축물 개요   2. 건축물 현황 및 설문조사   3. 개선방향 ...
18                                            U37 ]은
19                                      U46 ]년 준공 이후
20                                        U47 ]년 경과된
21                                           U48 ]로,
22                                            U72 ]년
23                                            U73 ]과
24                                            V72 ]년
25                                     V73 ]을 수행하였음\n
26                                            U86 ]\n
27                                            U87 ]\n
28                             U88 ]\n<구분><내용>\n<위치><
29                                             N39 ]
30                                             U40 ]
31                                             U41 ]
32                                    U42 ]>\n<지역지구><
33                                    U45 ]>\n<준공시기><
34                                           U46 ]년 (
35                                 U47 ]년 경과)>\n<용도><
36                                                  >

In [16]:
col_row = df_items[0].str.extract(r'([A-Z]{1,2}[0-9]{1,4})')

In [19]:
col_row

      0
0   NaN
1    U3
2    U4
3   U18
4   U17
5   U12
6    U3
7    U4
8    U8
9    U9
10  U17
11  U19
12  U20
13  V20
14  U12
15  U17
16   U3
17   U4
18  U37
19  U46
20  U47
21  U48
22  U72
23  U73
24  V72
25  V73
26  U86
27  U87
28  U88
29  N39
30  U40
31  U41
32  U42
33  U45
34  U46
35  U47
36  NaN

In [20]:
drop_na_col_row = col_row.dropna(axis=0)

In [21]:
drop_na_col_row

      0
1    U3
2    U4
3   U18
4   U17
5   U12
6    U3
7    U4
8    U8
9    U9
10  U17
11  U19
12  U20
13  V20
14  U12
15  U17
16   U3
17   U4
18  U37
19  U46
20  U47
21  U48
22  U72
23  U73
24  V72
25  V73
26  U86
27  U87
28  U88
29  N39
30  U40
31  U41
32  U42
33  U45
34  U46
35  U47

In [22]:
drop_na_col_row['col'] = drop_na_col_row[0].str.extract(r'([A-Z]{1,2})')

C:\Users\USER\AppData\Local\Temp\ipykernel_904\10100094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_na_col_row['col'] = drop_na_col_row[0].str.extract(r'([A-Z]{1,2})')

In [23]:
drop_na_col_row

      0 col
1    U3   U
2    U4   U
3   U18   U
4   U17   U
5   U12   U
6    U3   U
7    U4   U
8    U8   U
9    U9   U
10  U17   U
11  U19   U
12  U20   U
13  V20   V
14  U12   U
15  U17   U
16   U3   U
17   U4   U
18  U37   U
19  U46   U
20  U47   U
21  U48   U
22  U72   U
23  U73   U
24  V72   V
25  V73   V
26  U86   U
27  U87   U
28  U88   U
29  N39   N
30  U40   U
31  U41   U
32  U42   U
33  U45   U
34  U46   U
35  U47   U

In [25]:
drop_na_col_row['row'] = drop_na_col_row[0].str.extract(r'([0-9]{1,2})')

C:\Users\USER\AppData\Local\Temp\ipykernel_904\2410478552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drop_na_col_row['row'] = drop_na_col_row[0].str.extract(r'([0-9]{1,2})')

In [28]:
drop_na_col_row = drop_na_col_row.drop_duplicates([0])

In [29]:
drop_na_col_row

      0 col row
1    U3   U   3
2    U4   U   4
3   U18   U  18
4   U17   U  17
5   U12   U  12
8    U8   U   8
9    U9   U   9
11  U19   U  19
12  U20   U  20
13  V20   V  20
18  U37   U  37
19  U46   U  46
20  U47   U  47
21  U48   U  48
22  U72   U  72
23  U73   U  73
24  V72   V  72
25  V73   V  73
26  U86   U  86
27  U87   U  87
28  U88   U  88
29  N39   N  39
30  U40   U  40
31  U41   U  41
32  U42   U  42
33  U45   U  45

In [31]:
import re

testText = 'asdfasdfㅋㅌㅊㅍㅋㅌㅊㅍ1234234가나다라*@*@#*#@*'
korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')

#한글삭제
parseText= re.sub(korean, '', testText)

In [32]:
parseText

'asdfasdf1234234*@*@#*#@*'